# ==========================================================
# ARRAI - ClipCap AI Captioning WebApp
# Python 3.11
# ==========================================================

streamlit==1.46.1

torch==2.7.1
torchvision==0.22.1

transformers==4.53.3
huggingface_hub==0.33.5

deep-translator==1.11.4

Pillow==11.3.0

numpy==2.2.6

git+https://github.com/openai/CLIP.git